<p>todo-list-2 works!</p>

<div class = "todo-container">
    <h2>Todo List with Timer </h2>
    <input type="text" [(ngModel)] = "newTodoText" placeholder="Add todo ..">
    <button (click)="addTodo()">Add</button>
    <div  class="todo-item" *ngFor = "let todo of todos">
        <span>{{todo.text}}</span>
        <span>{{formatTime(todo.time)}}</span>
        <div class = "btn-container">
            <button (click) = "toggleTimer(todo)">{{todo.isRunning ? 'Pasue' : 'Start' }}</button>
            <button (click)="resetTimer(todo)">Reset</button>
            <button (click)="deleteTodo(todo.id)">Delete</button>
        </div>
    </div>

</div>
