.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
    padding: 4rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.carousel{
    display: flex;
    background-color: black;
    position: relative;
    max-width:600px;
    min-height:400px;
    width:100%;
    margin: auto;
}
.carousel-image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
    margin: auto;
    

}
.prevbtn{
    position: absolute;
    top:50%;
    left:10px;
    background-color: white;
}
.nextbtn{
    position: absolute;
    top:50%;
    right:10px;
    background-color: white;
}
  .page-buttons {
    display: flex;
    gap: 8px;
  }
  
  .page-buttons button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .page-buttons button.active {
    color: red;
  }
  
  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
